extends base

mixin card(image, text)
    .industries__container-card
        img(src=`/icons/${image}.png`)
        p=text

mixin work-card(image, text)
    .work__container-card
        img(src=`/icons/${image}.png`)
        p=text

block content
    section.landing
        .landing__text
            h1.landing__text-heading About Allied Architecturals
            h2.landing__text-subHeading Work with us today, and let's craft your architectural masterpiece
            .landing__text-para
                p.landing__text-para_1 At Allied Architecturals, we are passionate about transforming architectural dreams into stunning realities. With decades of industry expertise, we offer a comprehensive suite of services including, architectural drafting, millwork shop drawings, renderings, and modeling services. Our commitment to excellence, attention to detail, and dedication to innovation set us apart.
                p.landing__text-para_2 Collaborate with us today, and let's bring your vision to life. Choose Allied Architecturals, where every project is a masterpiece in the making.
            h2.landing__text-subHeading At Allied Architecturals, we transform architectural dreams into tangible realities with holistic excellence.
        .landing__img
            img(src=`/img/img-1.jpg`)

    section.service
        h2.service__heading Allied Architecturals offers a wide range of services
        .card__container
            each service in services
                .flip-card
                    .flip-card-inner
                        .flip-card-front
                            img(src=`/services/${service.image}.jpg`)
                            h2.__heading=service.service
                        .flip-card-back
                            p=service.heading
                            a(href=`/service/${service.slug}`) Know More..

    section.industries
        h2.industries__heading Advantage working with Allied Architecturals
        .industries__container
            +card("support", "Round-the-Clock Support")
            +card("onsupport", "On-Site Expertise")
            +card("breifcase", "Decades of Know-How")
            +card("paper", "Proven Track Record")
            +card("progress", "Rigorous Quality Assurance")
            +card("musers", "Swift Turnaround")

    section.work
        h2.work__heading Industries we work with
        .work__container
            +work-card("building", "Commercial")
            +work-card("store", "Retail")
            +work-card("food-service", "Hospitality")
            +work-card("government", "Government")
            +work-card("car-engine", "Engineering Companies")
            +work-card("invesment", "Real Estate")